<h1>Ejercicio 7</h1>
<hr>
<div class="contenedor" [ngSwitch]="mostrarSw">
  <div class="botones">
    <button type="button" class="btn" (click)="mostrarSw=1">Boton 1</button>
    <button type="button" class="btn" (click)="mostrarSw=2">Boton 2</button>
    <button type="button" class="btn" (click)="mostrarSw=3">Boton 3</button>
  </div>

  <div class="informacion">
    <div class="caso" *ngSwitchCase="1">
      «Siembras una acción cosechas un hábito. Siembras un hábito, cosechas un carácter. Siembras un carácter, cosechas un destino.»
      <p>Se ha presionado el boton 1.</p>
    </div>
    <div class="caso" *ngSwitchCase="2">
      «Lo triste no es quejarse. Lo triste es que a muchas personas les gusta quejarse pero no hacen absolutamente nada para cambiar su situación.»
      <p>Se ha presionado el boton 2.</p>
    </div>
    <div class="caso" *ngSwitchCase="3">
      «Hay dos lobos que siempre están luchando. Uno es oscuridad y desesperación. El otro es luz y esperanza. ¿Cuál gana? Aquel al que alimentas.»
      <p>Se ha presionado el boton 3.</p>
    </div>
    <div class="caso" *ngSwitchDefault="0">
      <p>No se ha presionado el boton 1.</p>
      <p>No se ha presionado el boton 2.</p>
      <p>No se ha presionado el boton 3.</p>
    </div>
  </div>
</div>