.contenedor {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  padding: 2% 0 7% 0;
  height: 90vh;
}
.contenedor .botones{
  display:flex;
  justify-content:center;
}

.btn{
  margin: 3% 2%;
  width: 10%;
  height: 8vh;
}
.informacion{
  padding: 2% 25% ;
  width: 100%;
  height: 40px;
  
}
.caso{
  padding: 2% 3%;
  width: 50%;
  background: white;
  border-radius: 5px;
  text-align: center;
}